<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div class="navbar">
        <a href="/posts">Create Post</a>
        <a href="/email">Send Email</a>
        <a href="/bmi">Calculate BMI</a>
        <a href="/home">Check Weather</a>
        <a href="/qrcode">QR</a>
    </div>
    <h1>QR Code</h1>
    <img src="/qr" alt="QR Code">
</body>
</html>