<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Register</h2><br>
        <form action="/register" method="POST">
            <input type="username" name="username" id="username" placeholder="Username" autocomplete="off" required>
            <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required>
            <button type="submit">Register</button>
        </form><br>
        <p>Already have an account? <a href="/">Login here</a></p>
    </div>
</body>
</html>